name: Build and Release

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      MY_JAR: "build/libs/Legacy-World1-6Essentials.jar"

    steps:
      - uses: actions/checkout@v4 # https://github.com/actions/checkout

      - name: Setup Gradle # https://github.com/gradle/actions
        uses: gradle/actions/setup-gradle@v4

      - name: Chmod Gradlew
        run: chmod +x ./gradlew

      - name: Set up JDK 21 # https://github.com/actions/setup-java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew build

      - name: Generate sha256sum
        run: sha256sum "$MY_JAR" >> hash.txt

      - name: Deploy Release With Artifact
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: |
            ${{ env.MY_JAR }}
            hash.txt